PORT=4000
NODE_ENV=production
MONGO_URI=mongodb://laura:laura@laura-mongo:27017/laura?authSource=admin
JWT_SECRET=change-me
BOOTSTRAP_SECRET=change-me
CORS_ORIGINS=https://laura.santillan.pro,http://localhost:3000
